<header class="s-header">
    <div class="header-mobile">
        <span class="mobile-home-link"><a href="index.html" data-config="siteTag">Luther.</a></span>
        <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
    </div>

    <div class="row wide main-nav-wrap">
        <nav class="column lg-12 main-nav">
            <ul id="nav-list">
                <li><a href="index.html" class="home-link" data-config="siteTag">Luther.</a></li>
                <!-- items injected from SITE_CONFIG.navigation by theme.js -->
            </ul>
        </nav>
    </div>
</header>


